@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,500&family=Open+Sans:wght@300&family=PT+Serif&display=swap);

$main-font1: 'Nunito', sans-serif;

$main-font2: 'Open Sans', sans-serif;

$main-font3: 'PT Serif', serif;