  /*Contacto*/
  .contenedor__contacto{
      
   .contenedor__contacto__info {
      font-family: 'Open Sans', sans-serif;
      color:white;
      text-align:center;
      font-size: medium;
      list-style: none;

      .contacto__info__ubicacion {
         width: 30px;
      }
   }

   .contenedor__formulario{
      display: flex;
      flex-direction: column;
      align-items: center;
     
      .formulario{
         display:flex;
         font-family: 'Open Sans', sans-serif;
         color:white;
         text-align:left;
         font-size: medium;
         margin: 20px;
         padding: 10px;
         flex-direction:column;
         align-items: center;
          

         .formulario__leyenda{
            text-align: center;
         }

         input{
         
            @extend %botones;
         }

         .marca_auto{
            text-align: center;
            @extend %botones2;
         }

         .enviar-formulario {
            display:inline-block;

            @extend %botones;
         }
          .limpiar-formulario {
            display:inline-block;
            
            @extend %botones;
          }
         

      }

   }


  }
  
 
  
  
   
  
  
  
   