/*footer*/
.contenedor__piedepagina{
    background-color: #16253D;

    .contenedor__piedepagina__lista{
      list-style: none;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      align-items:center;
      width: 100%;
      padding: 1em;

      .contenedor__piedepagina__lista__imagen{
         width: 2rem;
      }

      .contenedor__piedepagina__lista__link{
         color:#fff;
         text-decoration: none;
      }

   }


}
   
 
   
  
  