  /*home*/

  .contenedor__home__foto {
     width: 100%;
     height: 100%;
  }
   
   
  /*home2 - reseña*/
  
  h1 {
   font-family: 'Open Sans', sans-serif;
   color: white;
   text-align: center;
   font-size: 23px;
   font-weight: bold;
 }
  .contenedor__home2__parrafo{
     color:white;
     text-align: center;
     font-family: 'Open Sans', sans-serif;
     font-size: medium;
   
  }
 