 /*Servicios*/
  
 .contenedor__servicios__lista{
    font-family: 'Open Sans', sans-serif;
    color:white;
    text-align:left;
    font-size: medium;
    list-style: none;
    text-align: center;
   }
   
